.removeButton {
  width: 75px;
}

.edit-title__input {
  width: 75px;
  margin: auto 0;
}

.taskListForm__taskItems {
  margin: 0;
  padding: 4px;
}

.taskListForm__taskItem {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
  padding: 3px;
}
